<section id="passwordChangePage">
  <div class="container p-5">
    <div class="row mt-5">
      <div class="col-lg-4 offset-lg-4">
        <div class="card bg-light">
          <div class="card-body">
            <h4 class="text-center">Change Password</h4>
            <hr>

            <!-- show success or error message -->
            <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

            <!-- change password form -->
            <form (ngSubmit)="resetPassword()" #changePasswordForm="ngForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" [(ngModel)]="email" name="email"
                       class="form-control" required #emailCtrl="ngModel" />
                <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="text-danger">
                  Please enter a valid email.
                </div>
              </div>

<!--              <div class="form-group">-->
<!--                <label for="currentPassword">Current Password</label>-->
<!--                <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword"-->
<!--                       class="form-control" required #currentPasswordCtrl="ngModel" />-->
<!--                <div *ngIf="currentPasswordCtrl.invalid && currentPasswordCtrl.touched" class="text-danger">-->
<!--                  Please enter your current password.-->
<!--                </div>-->
<!--              </div>-->

              <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword"
                       class="form-control" required #newPasswordCtrl="ngModel" />
                <div *ngIf="newPasswordCtrl.invalid && newPasswordCtrl.touched" class="text-danger">
                  Please enter a new password.
                </div>
              </div>

              <div class="form-group">
                <label for="confirmNewPassword">Confirm New Password</label>
                <input type="password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword"
                       name="confirmNewPassword" class="form-control" required #confirmNewPasswordCtrl="ngModel" />
                <div *ngIf="confirmNewPasswordCtrl.invalid && confirmNewPasswordCtrl.touched" class="text-danger">
                  Please confirm your new password.
                </div>
              </div>

              <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary" [disabled]="btnDisabled || !changePasswordForm.valid">Submit</button>
                <button type="button" class="btn btn-primary" (click)="navigateToLogin()">Back to Login</button>
              </div>


            </form>

            <!-- email notification after password change -->
            <div *ngIf="isPasswordChanged" class="alert alert-info mt-3">
              A confirmation email will be sent to your registered email address.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
